<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
  
    <span class="spacer"></span>
  
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
        </button>
      <button mat-menu-item routerLink="/customers">
        <mat-icon>person</mat-icon>
        <span>Add/Edit Customer</span>
      </button>
      <button mat-menu-item routerLink="/providers">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Providers</span>
      </button>
      <button mat-menu-item routerLink="/appointment-types">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Appointment Types</span>
      </button>
      <button mat-menu-item routerLink="/about">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  